.slideshow-container{
    width: 100%;
    max-height: 850px;
    padding: 0;
    .controls {
        display: none;
    }
    .my-slider{
        .slider-item{
            width: 100%;
            position: relative;
            img{
                width: 100%;
            }
            .slider-item__caption{
                text-align: center;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                .slider-item__caption-content{
                    margin: auto;
                    width: max-content;
                    p{
                        border: 1px solid #494F56;
                        box-sizing: border-box;
                        padding: 5px 30px;
                        font-size: 14px;
                        line-height: 189%;
                        letter-spacing: 0.1px;
                        color: #252A2F;
                        font-family: 'Lato', sans-serif;
                    }
                }
                .slider-item__caption-heading{
                    margin: 24px auto 60px auto;
                    max-width: 742px;
                    h1{
                        font-size: 72px;
                        line-height: 120%;
                        letter-spacing: 2px;
                        color: #0F1214;
                        font-family: 'Playfair Display', serif;
                    }
                }
                .slider-item__caption-button{
                    margin: auto;
                    width: max-content;
                    background: #494F56;
                    height: max-content;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    span{
                        padding: 11px 11px 11px 32px;
                        font-size: 14px;
                        line-height: 189%;
                        letter-spacing: 0.1px;
                        color: #FFFFFF;
                    }
                    i{
                        padding: 11px 32px 11px 11px;
                        color: #FFFFFF
                    }
                }
            }
        }
    }
}
 
 

.tns-nav{
   transform: translateY(-50px);
}
.tns-nav button{
    width: 20px;
    border-radius: 10px; 
}


 