.collection__basic{
    width: 100%;
    height: 796px;
    position: relative;
    img{
        position: absolute;
        top: 0;
        left: 0;
    }
    .collection__basic-caption{
        padding: 72px;
        width: 60%;
        height: 509px;
        background-color: white;
        position: absolute;
        bottom: 0;
        right: 0;
        .collection__basic-caption--content{
            p{
                font-size: 16px;
                line-height: 150%;
                letter-spacing: 0.2px;
                color: #494F56;
            }
        }
        .collection__basic-caption--heading{
            h1{
                font-weight: bold;
                font-size: 44px;
                line-height: 131%;
                letter-spacing: 1.5px;
                color: #0F1214;
            }
        }
        .collection__basic-caption--title{
            p{
                font-size: 36px;
                line-height: 150%;
                display: flex;
                align-items: center;
                letter-spacing: 1px;
                color: #0F1214;
            }
        }
        .collection__basic-caption--comment{
            margin: 32px auto 37px auto;
            p{
                font-size: 14px;
                line-height: 189%;
                letter-spacing: 0.1px;
                color: #494F56;
            }
        }
        .collection__basic-caption--comment--takethislook{
            a{
                font-weight: bold;
                font-size: 14px;
                line-height: 189%;
                letter-spacing: 0.4px;
                text-decoration-line: underline;
                color: #252A2F;
            }
        }
    }
}