.collection__basic{
    width: 100%;
    height: 796px;
    position: relative;
    .image_full{
        position: absolute;
        top: 0;
        left: 0;
    }
    .image_additional{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 450px;
        height: 692px;
        transform: translate(-50%, -50%);
        z-index: 2;
    }
    .collection__basic-caption{
        padding: 72px;
        width: 60%;
        height: max-content;
        background-color: white;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 3;
        .collection__basic-caption--content{
            p{
                font-size: 16px;
                line-height: 150%;
                letter-spacing: 0.2px;
                color: #494F56;
            }
        }
        .collection__basic-caption--heading{
            p{
                font-weight: bold;
                font-size: 44px;
                line-height: 131%;
                letter-spacing: 1.5px;
                color: #0F1214;
            }
        }
        .collection__basic-caption--title{
            p{
                font-size: 36px;
                line-height: 150%;
                display: flex;
                align-items: center;
                letter-spacing: 1px;
                color: #0F1214;
            }
        }
        .collection__basic-caption--comment{
            margin: 32px auto 37px auto;
            p{
                font-size: 14px;
                line-height: 189%;
                letter-spacing: 0.1px;
                color: #494F56;
            }
        }
        .collection__basic-caption--comment--takethislook{
            display: flex;
            align-items: center;
            a{
                font-weight: bold;
                font-size: 14px;
                line-height: 189%;
                letter-spacing: 0.4px;
                text-decoration-line: underline ;
                color: #252A2F;
                margin-right: 15px;
            }
            svg{
                display: none;
            }
        }
    }
}

.collection__basic-style_2{
    width: 100%;
    height: 870px;
    position: relative;
    .image_full{
        position: absolute;
        top: 0;
        left: 0;
        width: 570px;
        height: 870px;
    }
    .image_additional{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 450px;
        height: 692px;
        transform: translate(-50%, -50%);
        z-index: 2;
    }
    .collection__basic-caption{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 40%;
        padding: 72px;
        height: max-content;
        background-color: white;
        z-index: 3;
        .collection__basic-caption--content{
            p{
                font-size: 16px;
                line-height: 150%;
                letter-spacing: 0.2px;
                color: #494F56;
            }
        }
        .collection__basic-caption--heading{
            p{
                font-weight: bold;
                font-size: 44px;
                line-height: 131%;
                letter-spacing: 1.5px;
                color: #0F1214;
            }
        }
        .collection__basic-caption--title{
            p{
                font-size: 36px;
                line-height: 150%;
                display: flex;
                align-items: center;
                letter-spacing: 1px;
                color: #0F1214;
            }
        }
        .collection__basic-caption--comment{
            margin: 32px auto 37px auto;
            p{
                font-size: 14px;
                line-height: 189%;
                letter-spacing: 0.1px;
                color: #494F56;
            }
        }
        .collection__basic-caption--comment--takethislook{
            display: flex;
            align-items: center;
            a{
                font-weight: bold;
                font-size: 14px;
                line-height: 189%;
                letter-spacing: 0.4px;
                text-decoration-line: none !important;
                color: #252A2F;
                margin-right: 15px;
            }
            svg{
                display: block;
            }
        }
    }
}


@include desktop{
    .collection__basic{
        height: 550px;
        .image_full{
            width: 520px;
            height: auto;
        }
        .collection__basic-caption{
            padding: 30px;
            width: 60%;
            height: 350px;
            .collection__basic-caption--content{
                p{
                    font-size: 13px;
                }
            }
            .collection__basic-caption--heading{
                margin: 10px auto;
                p{
                    font-size: 20px;
                }
            }
            .collection__basic-caption--title{
                p{
                    font-size: 17px;
                }
            }
            .collection__basic-caption--comment{
                margin: 14px auto 14px;
                p{
                    font-size: 13px;
                }
            }
            .collection__basic-caption--comment--takethislook{
                a{
                    font-size: 13px;
                }
            }
        }
    }

    .collection__basic-style_2{
        height: 700px;
        .image_full{
            width: 500px;
            height: 700px;
        }
        .image_additional{
            width: 400px;
            height: 550px;
        }
        .collection__basic-caption{
            padding: 30px;
            width: 50%;
            height: 300px;
            .collection__basic-caption--content{
                p{
                    font-size: 13px;
                }
            }
            .collection__basic-caption--heading{
                margin: 10px auto;
                p{
                    font-size: 20px;
                }
            }
            .collection__basic-caption--title{
                p{
                    font-size: 17px;
                }
            }
            .collection__basic-caption--comment{
                margin: 14px auto 14px;
                p{
                    font-size: 13px;
                }
            }
            .collection__basic-caption--comment--takethislook{
                a{
                    font-size: 13px;
                }
            }
        }
    }
}


@include tablet{
    .collection__basic{
        height: 450px;
        .image_full{
            width: 410px;
            height: auto;
        }
        .collection__basic-caption{
            padding: 20px;
            width: 60%;
            height: 363px;
            .collection__basic-caption--content{
                p{
                    font-size: 13px;
                }
            }
            .collection__basic-caption--heading{
                margin: 10px auto;
                p{
                    font-size: 20px;
                }
            }
            .collection__basic-caption--title{
                p{
                    font-size: 17px;
                }
            }
            .collection__basic-caption--comment{
                margin: 14px auto 14px;
                p{
                    font-size: 13x;
                }
            }
            .collection__basic-caption--comment--takethislook{
                a{
                    font-size: 13px;
                }
            }
        }
    }
    
    .collection__basic-style_2{
        height: 650px;
        .image_full{
            width: 450px;
            height: 650px;
        }
        .image_additional{
            width: 350px;
            height: 500px;
        }
        .collection__basic-caption{
            padding: 30px;
            width: 50%;
            height: 300px;
            .collection__basic-caption--content{
                p{
                    font-size: 13px;
                }
            }
            .collection__basic-caption--heading{
                margin: 10px auto;
                p{
                    font-size: 20px;
                }
            }
            .collection__basic-caption--title{
                p{
                    font-size: 17px;
                }
            }
            .collection__basic-caption--comment{
                margin: 14px auto 14px;
                p{
                    font-size: 13px;
                }
            }
            .collection__basic-caption--comment--takethislook{
                a{
                    font-size: 13px;
                }
            }
        }
    }
}


@include mobile{
    .collection__basic{
        height: 300px;
        .image_full{
            width: 230px;
            height: auto;
        }
        .collection__basic-caption{
            padding: 10px;
            width: 60%;
            height: 250px;
            .collection__basic-caption--content{
                p{
                    font-size: 10px;
                }
            }
            .collection__basic-caption--heading{
                margin: 2px auto;
                p{
                    font-size: 15px;
                }
            }
            .collection__basic-caption--title{
                p{
                    font-size: 13px;
                }
            }
            .collection__basic-caption--comment{
                margin: 4px auto 4px;
                p{
                    font-size: 10px;
                    display: block;
                    display: -webkit-box;
                    max-width: 100%;
                    -webkit-line-clamp: 5;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .collection__basic-caption--comment--takethislook{
                a{
                    font-size: 10px;
                }
            }
        }
    }

    .collection__basic-style_2{
        height: 400px;
        .image_full{
            width: 230px;
            height: 400px;
        }
        .image_additional{
            width: 270px;
            height: 300px;
        }
        .collection__basic-caption{
            padding: 15px;
            width: 50%;
            height: 180px;
            .collection__basic-caption--content{
                p{
                    font-size: 10px;
                }
            }
            .collection__basic-caption--heading{
                margin: 2px auto;
                p{
                    font-size: 15px;
                }
            }
            .collection__basic-caption--title{
                p{
                    font-size: 13px;
                }
            }
            .collection__basic-caption--comment{
                margin: 7px auto;
                font-size: 10px;
                display: block;
                display: -webkit-box;
                max-width: 100%;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                p{
                    font-size: 13px;
                }
            }
            .collection__basic-caption--comment--takethislook{
                a{
                    font-size: 13px;
                }
            }
        }
    }
} 