.banner-section{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 652px;
    .banner-container{
        position: relative;
        width: 100%;
        height: 100%;
        .banner__caption{
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            text-align: center;
            .banner__caption--heading{
                margin-bottom: 12px;
                h1{
                    font-weight: bold;
                    font-size: 44px;
                    line-height: 122%;
                    letter-spacing: 1.5px;
                    color: #FFFFFF;
                }
            }
            .banner__caption--saleoff{
                p{
                    font-size: 30px;
                    line-height: 148%;
                    letter-spacing: 0.2px;
                    color: #FFFFFF;    
                }
            }
            #banner__caption--countdown{
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 40px auto;
                .days, .hours, .minutes, .seconds{
                    border: 2px solid #FFFFFF;
                    box-sizing: border-box;
                    border-radius: 9px;
                    padding: 11px 28px;
                    margin-right: 15px;
                    text-align: center;
                    font-size: 30px;
                    line-height: 189%;
                    letter-spacing: 0.2;
                    color: #FFFFFF;
                    p{
                        color: white;
                    }
                }
            }
            .banner__caption--button{
                background: #FFFFFF;
                padding: 11px 47px;
                font-weight: bold;
                color: #494F56;
                letter-spacing: 0.1px;
                font-weight: bold;
                font-size: 14px;
                line-height: 189%;
            }
        }
    }
}


@include desktop{
    .banner-section{
        height: 500px;
        .banner-container{
            .banner__caption{
                .banner__caption--heading{
                    margin-bottom: 12px;
                    h1{
                        font-size: 30px;
                    }
                }
                .banner__caption--saleoff{
                    p{
                        font-size: 25px;
                    }
                }
                #banner__caption--countdown{
                    margin: 35px auto;
                    .days, .hours, .minutes, .seconds{
                        padding: 6px 20px;
                        margin-right: 10px;
                        font-size: 25px;
                    }
                }
                .banner__caption--button{
                    padding: 9px 35px;
                    font-size: 13px;
                }
            }
        }
    }
}


@include tablet{
    .banner-section{
        height: 400px;
        .banner-container{
            .banner__caption{
                .banner__caption--heading{
                    margin-bottom: 10px;
                    h1{
                        font-size: 25px;
                    }
                }
                .banner__caption--saleoff{
                    p{
                        font-size: 20px;
                    }
                }
                #banner__caption--countdown{
                    margin: 30px auto;
                    .days, .hours, .minutes, .seconds{
                        padding: 5px 15px;
                        margin-right: 10px;
                        font-size: 20px;
                    }
                }
                .banner__caption--button{
                    padding: 5px 20px;
                    font-size: 10px;
                }
            }
        }
    }
}


@include mobile{
    .banner-section{
        height: 200px;
        .banner-container{
            .banner__caption{
                width: 100%;
                .banner__caption--heading{
                    margin-bottom: 5px;
                    h1{
                        font-size: 17px;
                        margin: 0;
                    }
                }
                .banner__caption--saleoff{
                    p{
                        font-size: 17px;
                    }
                }
                #banner__caption--countdown{
                    margin: 15px auto;
                    .days, .hours, .minutes, .seconds{
                        padding: 4px 10px;
                        margin-right: 7px;
                        font-size: 13px;
                    }
                }
                .banner__caption--button{
                    padding: 3px 10px;
                    font-size: 8px;
                }
            }
        }
    }
}