.latestnews-section-full{
    .latestnews-section{
        width: 100%;
        margin-bottom: 30px;
        .latestnews--heading{
            margin: 16px auto 8px auto;
            h1{
                font-size: 30px;
                line-height: 148%;
                text-align: center;
                letter-spacing: 1px;
                color: #0F1214;
            }
        }
        .latestnews--content{
            margin: 8px auto 40px;
            width: 80%;
            p{
                font-size: 16px;
                line-height: 150%;
                letter-spacing: 0.2px;
                text-align: center;
                color: #494F56;
            }
        }
        .blog__list{
            .blog__list--item{
                .blog__list--item-heading{
                    display: none;
                }
                .blog__list--item-caption{
                    .blog__list--item-top{
                        margin-top: 14px;
                        display: flex;
                        align-items: center;
                        p{
                            font-size: 12px;
                            line-height: 200%;
                            letter-spacing: 0.1px;
                            color: #494F56;
                            margin: 0;
                            &:first-child{
                                margin-right: 10px;
                            }
                        }
                        
                    }
                    .blog__list--item-title{
                        margin: 2px auto 12px auto;
                        p{
                            font-size: 16px;
                            line-height: 150%;
                            letter-spacing: 0.2px;
                            color: #0F1214;
                        }
                    }
                    .blog__list--item-readmore{
                        p{
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 189%;
                            letter-spacing: 0.4px;
                            text-decoration-line: none;
                            color: #494F56;
                            &:hover{
                                text-decoration-line: underline;
                                color: #252A2F;
                            }
                        }
                        svg{
                            display: none;
                        }
                    }
                }
                
               
            }
            
        }
    }
}



.latestnews-section-full-style_2{
    width: 100%;
    padding: 40px 0;
    background: linear-gradient(to top, #F4F4F5 80%, #FFF 20%);
    // background: #F4F4F5;
    .latestnews-section{
        position: relative;
        width: 100%;
        .controls{
            display: flex;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 10;
            .prev, .next{
                list-style: none;
                width: 40px;
                height: 40px;
                border-radius:50%; 
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 30px;
                margin-right: 20px;
                font-size: 8px;
                &:hover{
                    background-color: #0F1214;
                }
            }
        }
        .latestnews--heading{
            display: none;
        }
        .latestnews--content{
            display: none;
        }
        .blog__list{
            .blog__list--item{
                display: grid;
                grid-template-columns: 5% 30% 65%;
                .blog__list--item-heading{
                    writing-mode: vertical-rl;
                    transform: rotate(180deg);
                    margin-bottom: 160px;
                    margin-right: 30px;
                    h1{
                        font-weight: bold;
                        font-size: 40px;
                        line-height: 120%;
                        display: flex;
                        align-items: center;
                        letter-spacing: 8px;
                        color: #0F1214;
                    }
                }
                .blog__list--item-img{
                    
                }
                .blog__list--item-caption{
                    padding: 160px 0 120px 150px;
                    display: flex;
                    flex-direction: column;
                    .blog__list--item-top{
                        order: 2;
                        margin-top: 8px;
                        margin-bottom: 30px;
                        display: flex;
                        align-items: center;
                        p{
                            font-size: 14px;
                            line-height: 189%;
                            letter-spacing: 0.2px;
                            color: #71767C;
                            margin: 0;
                            &:first-child{
                                margin-right: 10px;
                            }
                        }
                        
                    }
                    .blog__list--item-title{
                        order: 1;
                        margin: 0 auto 12px auto;
                        p{
                            font-size: 30px;
                            line-height: 148%;
                            letter-spacing: 1px;
                            color: #252A2F;
                        }
                    }
                    .blog__list--item--content{
                        order: 3;
                    }
                    .blog__list--item-readmore{
                        margin-top: 40px;
                        order: 4;
                        padding: 11px 32px;
                        display: flex;
                        border: 1px solid #252A2F;
                        box-sizing: border-box;
                        border-radius: 4px;
                        width: max-content;
                        justify-content: center;
                        align-items: center;
                        p{
                            margin: 0;
                            margin-right: 12px;
                            font-size: 14px;
                            line-height: 189%;
                            letter-spacing: 0.1px;
                            color: #494F56;
                        }
                    }
                }
            }
        }
    }
}







@include desktop{
    .latestnews-section{
        .latestnews--heading{
            margin: 16px auto 8px auto;
            h1{
                font-size: 30px;
            }
        }
        .latestnews--content{
            margin: 20px auto;
            p{
                font-size: 15px;
            }
        }
        .blog__list{
            .blog__list--item{
                .blog__list--item-top{
                    margin-top: 10px;
                    display: block;
                    p{
                        font-size: 13px;
                        margin: 0;
                        &:first-child{
                            margin-right: 10px;
                        }
                    }
                }
                .blog__list--item-title{
                    margin: 2px auto 12px auto;
                    p{
                        font-size: 14px;
                    }
                }
                .blog__list--item-readmore{
                    p{
                        font-size: 13px;
                    }
                }
            }
        }
    }
}


@include tablet{
    .latestnews-section{
        .latestnews--heading{
            margin: 16px auto 8px auto;
            h1{
                font-size: 30px;
            }
        }
        .latestnews--content{
            margin: 20px auto;
            p{
                font-size: 13px;
            }
        }
        .blog__list{
            .blog__list--item{
                .blog__list--item-top{
                    margin-top: 10px;
                    display: block;
                    p{
                        font-size: 13px;
                        margin: 0;
                        &:first-child{
                            margin-right: 10px;
                        }
                    }
                }
                .blog__list--item-title{
                    margin: 2px auto 12px auto;
                    p{
                        font-size: 14px;
                    }
                }
                .blog__list--item-readmore{
                    p{
                        font-size: 13px;
                    }
                }
            }
        }
    }
}


@include mobile-xxs{
    .latestnews-section{
        .latestnews--heading{
            margin: 16px auto 8px auto;
            h1{
                font-size: 25px;
            }
        }
    }
}